{# extendemos la plantilla que hemos creado #}
{% extends "base.jinja" %} 
{# luego de extends la plantilla vamos a llamar al bloque informacion y le vamos a colocar adentro lo que deseamos para ser visualizado#}
{% block informacion %}
<div class="row bg-white" style="display: flex; justify-content: center">
  <div class="bg-light text-center mt-4" style="width: 60%">
    <p>
      Hola <code id="correo">{{ correo }}</code> cambia tu contraseña
    </p>
    <form id="form-pwd">
      <div class="mb-3">
        <label for="pwd1" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd1" />
      </div>
      <div class="mb-3">
        <label for="pwd2" class="form-label">Repita la password</label>
        <input type="password" class="form-control" id="pwd2" />
      </div>
      <button type="button" class="btn btn-primary" id="btn-enviar">
        Cambiar Password
      </button>
    </form>
  </div>
</div>
{#aqui le decimos para este bloque llamado change_password vas a meterle este archivo que js solamente para este bloque nada mas no es para todoo los demas si no solamente esto
- lo ponemos al final xk 1ro queremos que se renderice todo mis componentes html despues mi js que es el comportamiento
- url_for = sirve para cargar un archivo o un asset en otro ubicacion recibe 2 parametros 1 indicar en donde se encuentra este archivo statico y el nombre del archivo
#}
<script src="{{ url_for('static', filename='change_password.js') }}"></script>

{#si queremos cargar imagenes o cuando quereamos renderizar cualquier cosa que no sea un plantilla tenemos que hacerlo con la etiqueta url_for() ya sea css,jhs,video,img,etc
<img src="{{url_for('static',filename='patito.jpg')}}" alt=""> #}
{% endblock%} 
{%block titulo %} Cambiar Password 🔑 {% endblock %}